// AYY colors

$purple: #55307f;
$darker-grey: #5d5958;
$dark-grey: #817e7d;
$grey: #e8e9ea;
$light-grey: #efefef;
$black: #000000;
$yellow: #eebc32;
$turquoise: #6bd6e3;
$pink: #ebc8de;
$orange: #ff6621;
$green: #00a112;
$white: #ffffff;

// Custom colors
$lighter-grey: #f6f5f6;
$lighter-purple: #b89bd9;

$custom-grey: #f4f4f8;
$light-purple: #6e4f92;

$positive-green: rgba(50, 220, 50, 1);
$negative-red: rgba(220, 50, 50, 1);

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$navbar-height: 3rem;
